<div class="how-it-works info-block">
    <div class="point-header">Какие услуги мы предоставляем?</div>
    <div class="additional-point">
        Мы честны с Вами и чтобы Вы могли получить качественные юридические услуги в
        установленные сроки мы работает только над теми проектами по которым мы имеем
        достаточный опыт.
        <br>
        Корпоративное право
        <br>
        Налоговое право
        <br>
        Договорное право
        <br>
        Недвижимость
        <br>
        Интеллектуальная собственность
        <br>
        Трудовое право
        <br>
        Регистрация компаний
        <br>
        Составление уставов, протоколов, указов, решений…
        <br>
        Составление договоров
        <br>
        Анализ договоров
        <br>
        Анализ документов перед покупкой недвижимости
        <br>
        Получение разрешительных документов
        <br>
        Сопровождение налоговых проверок
        <br>
        Анализ налоговых рисков
        <br>
        Регистрация прав интеллектуальной собственности
        <br>
        Передача прав интеллектуальной собственности
        <br>
        Составление документов для увольнения
        <br>
        Составление трудовых соглашений
    </div>
</div>
<start-button></start-button>