<div class="services-info">
    <div class="row services-header">
        <div class="col-xs-4 col-lg-3 service-col">Наименование Услуги</div>
        <div class="col-xs-4 col-lg-1 service-col">Цена &#x20b4;</div>
        <div class="col-xs-4 col-lg-7 service-col">Описание</div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-lg-3 blue-service service-col">Разработка / проверка договора</div>
        <div class="col-xs-4 col-lg-1 pink-service service-col">450 - 1,000</div>
        <div class="col-xs-4 col-lg-7 pink-service service-col">Юристы договорной практики Simple<strong>Law</strong> составят или проверят практически все договоры,
            используемые в хозяйственной деятельности предприятий. Наиболее распространенныями видами таких договоров
            являются трудовые контракты, договора поставки, договора купли-продажи, договора о предоставлении услуг.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-lg-3 blue-service service-col">Разработка / проверка корпоративных документов</div>
        <div class="col-xs-4 col-lg-1 pink-service service-col">300 - 2,000</div>
        <div class="col-xs-4 col-lg-7 pink-service service-col">Юристы корпоративного департамента Simple<strong>Law</strong> составят или проверят любые корпоративные
            такие как протоколы общего собрания участников, устав, доверенность и т.д.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-lg-3 blue-service service-col">Аудит компании</div>
        <div class="col-xs-4 col-lg-1 pink-service service-col">2,000</div>
        <div class="col-xs-4 col-lg-7 pink-service service-col">Юристы практики защиты бизнесе Simple<strong>Law</strong> проверят любую компанию, которая зарегистрирована
            на территории Украины и предоставят Вам письменный отчет с описанием всех рисков работы с данной компании.
        </div>
    </div>
</div>
<start-button></start-button>