/* app css stylesheet */
.copyright {
    font-size: 12px;
}

.logo {
    float: left;
}

.logo img {
    margin-top: -12px;
    margin-right: 10px;
}

.info-circle {
    float: left;
    font-size: 50px;
    margin-right: 10px;
}

.app-body {
    padding: 51px 0;
}

.open-link {
    float: right;
}

.info-section {
    background-color: lightgreen;
}

.info-block {
    display: table-cell;
    width: 50%;
}

.info-block img {
    height: 200px;
    margin: 10px;
}

.collapse {
    padding: 10px 0;
}

h3 {
    text-align: center;
}

@media (max-width: 800px) {
    .navbar-header {
        padding-top: 7px;
    }

    img {
        height: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .cap-info img {
        width: 100%;
        height: 200px;
        margin: 10px;
    }
}

@media (min-width: 800px) {
    .list-group .btn {
        margin: 40px 10px 0 10px;
    }

    .cap-info img {
        width: 400px;
        height: 200px;
        margin: 10px;
    }

    .info-text {
        font-size: 30px;
    }
}
