/* app css stylesheet */
.app {
    background: #FFFFFF;
}

.app-body {
    padding-top: 50px;
}

.has-navbar-bottom .app-body {
    padding-bottom: 0;
}

.main-points {
    padding-top: 50px;
}

.point {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
}

.sidebar-right{
    display: none;
}

.desktop-services a{
    font-size: 14px!important;
}

.additional-point {
    font-size: 20px;
    font-weight: normal;
    color: #808080;
    font-style: italic;
}

.info-block{
    padding-top: 50px;
    padding-left: 50px;
}

.messages {
    padding-top: 150px;
    padding-left: 150px;
}

.navbar-absolute-bottom {
    display: none;
}

.mobile-menu-button {
    display: none;
}

.point-header {
    font-size: 30px;
}

.start-button-desktop {
    bottom: 50px;
    font-size: 30px;
    position: absolute;
    right: 50px;
}

.top-title {
    color: #000;
}

.top-title a {
    font-size: 25px;
    color: #000;
}

.top-title a:hover {
    text-decoration: none;
}

.top-title a:focus {
    text-decoration: none;
}

.text-target {
    font-size: 40px;
}

.text-advice {
    color: #9EA0A6;
    font-size: 40px;
}

@media (max-width: 900px) {
    .desktop-details {
        display: none;
    }

    .navbar-absolute-top {
        height: 70px !important;
    }

    .navbar-absolute-bottom {
        display: inline;
    }

    .desktop-services{
        display: none;
    }

    .navbar-absolute-bottom .start-button {
        font-size: 25px;
    }

    .app-body {
        padding-top: 70px !important;
    }

    .main-points .point {
        font-size: 15px;
    }

    .main-points .additional-point {
        font-size: 10px;
    }

    .messages {
        padding: 0 !important;
    }

    .mobile-menu-button {
        display: inline-block;
    }

    .start-button-desktop {
        display: none;
    }

    .text-target {
        font-size: 20px !important;
    }

    .text-advice {
        font-size: 20px !important;
    }
}
