/* app css stylesheet */
.hours{
    text-align: center;
    margin-bottom: 100px;
}
.app {
    background: #FFFFFF;
}

.outer {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.custom-error{
    color: #FFA500;
}

.error{
    color: #FFA500;
}

.inner {
    height: calc(100% + 1px);
}

.second-point{
    margin-top: 50px;
    text-align: center;
}

.second-point .point{
    margin-bottom: 20px;
}

.services-info {
    margin: 50px;
}

.services-header {
    font-weight: 600;
    font-size: 14px;
}

.blue-service {
    background-color: #007aff;
    border-radius: 5px;
    color: #FFFFFF;
}

.pink-service {
    background-color: #FFF7FB;
    border-radius: 5px;
}

.service-col{
    margin: 10px;
}

.app-content {
    overflow: auto;
}

.app-body {
    padding-top: 50px;
}

.has-navbar-bottom .app-body {
    padding-bottom: 0;
}

.main-points {
    padding-top: 50px;
}

.point {
    font-size: 30px;
    padding-top: 30px;
}


.sidebar-right {
    display: none;
}

.desktop-services a {
    font-size: 14px !important;
}

.additional-point {
    color: #808080;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

.info-block {
    padding: 50px;
}

.messages {
    padding-left: 150px;
    padding-top: 50px;
}

.navbar-absolute-bottom {
    display: none;
}

.modal {
    width: 50%;
    left: 25%;
}

.mobile-menu-button {
    display: none;
}

.point-header {
    font-size: 30px;
}

.start-button-desktop {
    bottom: 50px;
    font-size: 30px;
    position: fixed;
    right: 50px;
}

.scobka{
    margin-top: 20px;
}

.top-title {
    color: #000;
}

.top-title a {
    font-size: 25px;
    color: #000;
}

.top-title a:hover {
    text-decoration: none;
}

.top-title a:focus {
    text-decoration: none;
}

.text-target {
    font-size: 40px;
}

.text-advice {
    color: #9EA0A6;
    font-size: 40px;
}

@media (max-width: 1400px) {
    .modal {
        width: 100%;
        left: 0;
    }

    .service-col{
        margin: 0;
    }

    .desktop-details {
        display: none;
    }

    .navbar-absolute-top {
        height: 70px !important;
    }

    .navbar-absolute-bottom {
        display: inline;
    }

    .navbar-brand-center {
        text-align: center;
        width: 100%;
    }

    .desktop-services {
        display: none;
    }

    .navbar-absolute-bottom .start-button {
        font-size: 25px;
    }

    .app-body {
        padding-top: 70px !important;
    }

    .main-points .point {
        font-size: 15px;
    }

    .main-points .additional-point {
        font-size: 10px;
    }

    .messages {
        padding: 0 !important;
    }

    .mobile-menu-button {
        display: inline-block;
    }

    .start-button-desktop {
        display: none;
    }

    .scrollable-content{
        padding-bottom: 50px;
    }

    .text-target {
        font-size: 20px !important;
    }

    .text-advice {
        font-size: 20px !important;
    }
}
