<div class="scrollable">
    <div class="scrollable-content">
        <div class="messages">
            <div class="text-target"></div>
            <div class="text-advice">
                Обратитесь к проффесионалам.
            </div>
        </div>
        <div class="main-points text-center info-block">
            <div class="point">
                Только квалифицированные юристы.
                <div class="additional-point">
                    Над Вашими вопросами работают только юристы, которые имеют не менее 2000 часов
                    соответствующего опыта.
                </div>
            </div>
            <div class="point">
                Ответ в течение 24 часов.
                <div class="additional-point">
                    Мы консультируем наших клиентов в течение 24 часов.
                </div>
            </div>
            <div class="point">
                Без почасовых ставок и скрытых платежей.
                <div class="additional-point">
                    Никаких сюрпризов, дополнительных расходов или сборов.
                </div>
            </div>
        </div>
    </div>
</div>
<start-button></start-button>