<div class="scrollable">
    <div class="scrollable-content">
        <div class="messages">
            <div class="text-target"></div>
            <div class="text-advice">
                Наша команда юридических советников поможет Вам!
            </div>
        </div>
        <div class="main-points text-center info-block">
            <div class="point">
                Только квалифицированные юридические советники.
                <div class="additional-point">
                    Над Вашими задачами работают юридические советники с опытом работы более 6 000 часов.
                </div>
            </div>
            <div class="point">
                Жесткое выполнение задач в течение 24 часов.
                <div class="additional-point">
                    Мы соблюдаем точные сроки и предоставляем консультацию в течение 24 часов.
                </div>
            </div>
            <div class="point">
                Открытые цены без почасовых ставок и скрытых платежей.
                <div class="additional-point">
                    Никаких сюрпризов, дополнительных расходов или сборов.
                </div>
            </div>
        </div>
        <div>
            <div class="second-point col-lg-12">
                <div class="point">
                    Решение юридических задач – это просто!
                </div>
                <div class="row">
                    <div class="col-sx-3 col-lg-3 col-lg-offset-1">
                        <span><strong>1.</strong></span>
                        <br>
                        Отправьте Ваш запрос или просто наберите по телефону
                    </div>
                    <div class="col-sx-3 col-lg-4">
                        <span><strong>2.</strong></span>
                        <br>
                        Получите письмо соглашение о предоставлении юридических услуг
                    </div>
                    <div class="col-sx-3 col-lg-3">
                        <span><strong>3.</strong></span>
                        <br>
                        Получите решение задачи на утверждение
                    </div>
                </div>
                <div class="col-sx-10 col-lg-10 col-lg-offset-1">
                    <img class="scobka" src="../../resources/img/scobka.png">
                    <div class="hours"><strong>24 часа</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>
<start-button></start-button>