<div class="faq info-block">
    <div class="point-header">FAQ:</div>
    <div class="point">
        Что такое InLaw?
        <div class="additional-point">
            InLaw является новым форматом юридической фирмы, которая работает над предоставлением юридических услуг в
            установленные сроки по фиксированным ценам с клиентом из любой точки Украины
        </div>
    </div>
    <div class="point">
        Как мне начать?
        <div class="additional-point">
            Просто нажмите “Старт” и отправьте нам письмо или позвоните по номеру телефона. После Вашего запроса Вам
            предоставят информацию о цене, опыте работы Вашего юриста и сроках предоставление юридических услуг. После
            оплаты аванса юридические услуги будут предоставлены в установленные в предложении сроки.
        </div>
    </div>
    <div class="point">
        Являются услуги качественными?
        <div class="additional-point">
            Над Вашими проектами работают юристы с опытом работы не менее 2,000 часов, которые специализируются
            исключительно в нескольких сферах права, под контролем юриста с опытом работы не менее 10,000 часов
            У нас нет неквалифицированных юристов, т.к. мы проводим очень жесткий отбор без найма по просьбе.
        </div>
    </div>
    <div class="point">
        Откуда я знаю, что я защищен?
        <div class="additional-point">
            1. Мы не используем оплаченный аванс до полного выполнения работы и Вашего подтверждения о качестве работы
            2. Перед началом работы Вам отправляется договор о предоставлении юридических услуг с очень жесткими
            условиями конфиденциальности
        </div>
    </div>
    <div class="point">
        Что делать если я не вижу проекта, который мне нужен?
        <div class="additional-point">
            Просто напишите нам письмо
        </div>
    </div>
</div>
<start-button></start-button>