<div class="scrollable">
    <div class="scrollable-content">
        <div class="faq info-block">
            <div class="point-header">FAQ:</div>
            <div class="point">
                Что такое Simple<strong>Law</strong>?
                <div class="additional-point">
                    Simple<strong>Law</strong> является новым форматом юридической компании,
                    предоставляющая юридические услуги по фиксированным ценам и срокам клиентам из любой точки мира.
                </div>
            </div>
            <div class="point">
                Как мне начать?
                <div class="additional-point">
                    Все очень просто! У Вас есть 2 варианта:
                    <br>
                    1. Нажмите кнопку <strong>Отправить заявку</strong> и отправьте письмо с задачей
                    <br>
                    2. Наберите нас по указанному телефону
                    <br>
                    После Вашего запроса или звонка Вы получите более детальную информацию о цене,
                    опыте работы юридических советников, отвечающих за Вашу задачу и сроках предоставления услуги.
                </div>
            </div>
            <div class="point">
                Как я могу быть уверенным в качестве предоставленных услуг?
                <div class="additional-point">
                    Над Вашими задачами работают юридические советники с опытом работы более 6 000 часов под контролем
                    юридических советников с опытом работы более 20 000 часов. Мы работаем над постоянным повышением
                    профессиональной квалификации нашей команды, у нас нет младших юристов без опыта работа
                    и мы проводим очень жесткий отбор юристов.
                </div>
            </div>
            <div class="point">
                Как на счет конфиденциальности?
                <div class="additional-point">
                    Вопрос конфиденциальности для нас является принципиальным и нерушимым! С целью предоставления
                    дополнительной гарантии клиенту отправляется подписанное письмо соглашение о предоставлении
                    юридических
                    услуг, которое содержит очень жесткий пункт о конфиденциальности.
                </div>
            </div>
            <div class="point">
                Что делать если я не вижу услуги, которая мне нужна?
                <div class="additional-point">
                    Просто напишите нам письмо или позвоните!
                </div>
            </div>
        </div>
    </div>
</div>
<start-button></start-button>