<div class="scrollable">
    <div class="scrollable-content">
        <div class="about info-block">
            <div class="point-header">О нас:</div>
            <div class="additional-point">
                <p>
                    Мы строим работу на прозрачной и открытой основе. Для нас первоочередной задачей является
                    предоставление
                    качественных услуг на уникальных условиях, которые позволят нам стать Вашим постоянными партнерами.
                </p>
                <p>
                    С целью подкрепления наших слов приглашаем Вас познакомиться с нами поближе.
                </p>
                <p>
                    На сегодняшний момент юридическая сфера переполнена достаточным количеством юридических компаний и
                    юристов.
                    К сожалению, на практики клиенты сталкиваются с несколькими основными проблемами, которые не
                    позволяют им
                    получить желаемого (1) цена, (2) нарушение сроков, (3) качество и (4) время клиента. Работая более
                    10 лет в
                    юридической сфере мы осознали и приняли данные проблемы решив вывести юридические услуги на новый
                    уровень
                    через создание абсолютно уникальной юридической модели с сильной командой юридических советников.
                </p>
                <p>
                    Отказавшись от определенных стереотипов юридических компаний и сделав акцент на новую философию
                    юридических
                    услуг с использованием опыта нашей команды, мы создали компанию, предоставляющая юридические услуги
                    (1) по
                    приемлемым ценам, (2) в четко установленные сроки, (3) высокого качества и (4) с минимизацией затрат
                    времени
                    клиента.
                </p>
                <p>
                    Мы также работаем над развитием новых практик и услуг через постоянный поиск юридических советников,
                    которые
                    будут соответствовать нашим требованиям и предоставлять услуги по установленным критериям.
                </p>
                <p>
                    Мы хотим удивить Вас результатом услуг, а не имитацией работы, дорогим офисом или костюмом.
                    Приглашаем Вас
                    воспользоваться нашими услугами и убедиться насколько философия нашей команды удобна Вам.
                </p>
                <p>
                    Со-основатель и идеолог компании.
                    Луис Лирола
                </p>
            </div>
        </div>
    </div>
</div>
<start-button></start-button>