<div class="about info-block">
    <div class="point-header">О нас:</div>
    <div class="additional-point">
        Мы понимаем насколько сложно найти качественного юридического советника, который бы предоставлял
        качественные юридические услуги в установленные сроки без затрат Вашего времени по отличным ценовым условиям.
        Осознав данную проблему мы пришли к созданию нового формата юридической фирмы и команды. Над Вашими
        вопросами работают юристы, которые специализируются в разных сферах права и имеют отличный опыт работы.
        Наша философия заключается в предоставлении качественных услуг в установленные сроки с минимальным
        вовлечением клиента.
        Стандартные юридические фирмы известны прекрасными дорогими офисами, которые оплачиваются счетами
        клиентов. В нашей работе главными инструментами является мозг, настойчивость и компьютер, а не дорогой офис или
        костюм, что позволяет значительно уменьшать счета.
        Кроме того, важным моментом является то, что наши юристы всегда свободны для Вас и могут предоставить услуги в
        любой точке Украины.
        Это довольно прямолинейно, но если Вы решили работать с нами, то Вы поймете все преимущества нашей
        идеологии!!!
    </div>
</div>
<start-button></start-button>