<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item list-group-item-home info-section">
                <i class="fa fa-info-circle text-primary info-circle" aria-hidden="true"></i>
                <span class="info-text">If you found app that you like, from now You don't need to search it Tizen Store
                    - just click the button "Open in Tizen Store" and app will be opened in Tizen Store directly.</span>
            </div>
            <div class="list-group-item list-group-item-home">
                <img src="../resourses/cool.jpg">
                <span class="info-text">Best New TIzen Apps. You shoild try them all!!!</span>
            </div>
            <div class="list-group-item list-group-item-home">
                <nav class="navbar" role="navigation">
                    <div class="navbar-header">
                        <h3 class="home-heading"><img src="../resourses/bible.png">
                            Bible Offline
                        </h3>
                        <button type="button" class="btn navbar-button"
                                ng-class="bibleCollapsed == true ? 'btn-success' : 'btn-primary'"
                                ng-init="bibleCollapsed = true"
                                ng-click="bibleCollapsed = !bibleCollapsed">
                            <span ng-show="bibleCollapsed">Open Info</span>
                            <span ng-show="!bibleCollapsed">Close Info</span>
                        </button>
                        <a class="btn btn-info open-link" ng-click="bibleOpen()">Open in Tizen Store</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" ng-class="!bibleCollapsed && 'in'">
                        <div class="app-images info-block">
                            <img src="../resourses/bible1.png">
                            <img src="../resourses/bible2.png">
                            <img src="../resourses/bible3.png">
                            <img src="../resourses/bible4.png">
                        </div>
                        <div class="app-info info-block">
                            This light and friendly application can accompany you everywhere, granting you with God’s
                            holy words any moment for a blessed day. At present, Christians from more than 200 countries
                            in 40 languages have already used the Bible Offline - Holy Bible application to pray and
                            receive the Holy Word.
                            <br>
                            Conceived to propagate and make The Christian Bible studies to read the bible in an easily
                            and greatly way, pray and listening a bible free anytime, anywhere, with resources such as:
                            Search, Favorite, Note, Color Assigning Labels, Sharing Versicles, Devotionals, Hymnal,
                            Biblical Plans, Biblical Dictionary, and Biblical Map.
                            <br>
                            There are two reading modes "daily" and "night"
                            <br>
                            Hope it will be helpful.
                        </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
            </div>
            <div class="list-group-item list-group-item-home">
                <nav class="navbar" role="navigation">
                    <div class="navbar-header">
                        <h3 class="home-heading"><img src="../resourses/lazors.png">
                            Hindi Lasors Puzzle
                        </h3>
                        <button type="button" class="btn navbar-button"
                                ng-class="lazorsCollapsed == true ? 'btn-success' : 'btn-primary'"
                                ng-init="lazorsCollapsed = true"
                                ng-click="lazorsCollapsed = !lazorsCollapsed">
                            <span ng-show="lazorsCollapsed">Open Info</span>
                            <span ng-show="!lazorsCollapsed">Close Info</span>
                        </button>
                        <a class="btn btn-info open-link" ng-click="lazorsOpen()">Open in Tizen Store</a>
                    </div>

                    <div class="collapse navbar-collapse" ng-class="!lazorsCollapsed && 'in'">
                        <div class="app-images info-block">
                            <img src="../resourses/lazors1.png">
                            <img src="../resourses/lazors2.png">
                            <img src="../resourses/lazors3.png">
                            <img src="../resourses/lazors-menu.png">
                        </div>
                        <div class="app-info info-block">
                            Lazors is a puzzle game of lasers offering more than a 30 levels, ranging from easy
                            distractions to hard challenges.
                            <br>
                            + 30 levels
                            <br>
                            + Intuitive gameplay
                            <br>
                            + Hint system
                            <br>
                            Move lasors to the proper position and have fun.
                        </div>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="list-group-item list-group-item-home">
                <nav class="navbar" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <h3 class="home-heading"><img src="../resourses/captain.png">
                            Captain Rogers
                        </h3>
                        <button type="button" class="btn navbar-button"
                                ng-class="captainCollapsed == true ? 'btn-success' : 'btn-primary'"
                                ng-init="captainCollapsed = true"
                                ng-click="captainCollapsed = !captainCollapsed">
                            <span ng-show="captainCollapsed">Open Info</span>
                            <span ng-show="!captainCollapsed">Close Info</span>
                        </button>
                        <a class="btn btn-info open-link" ng-click="captainOpen()">Open in Tizen Store</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" ng-class="!captainCollapsed && 'in'">
                        <div class="cap-info">
                            <img src="../resourses/cap1.png">
                            <img src="../resourses/cap2.png">
                            <img src="../resourses/cap3.png">
                            <img src="../resourses/cap4.png">
                            <br>
                            It's simple, yet very engaging game about brave Captain Rogers and his escape through an
                            asteroid field.
                            <br>
                            Tap the screen to fly up, release to fly down. Collect the stars and shields, avoid
                            asteroids and mines. Grab the bomb to blow up everything on screen!
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="list-group-item list-group-item-home">
                <nav class="navbar" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <h3 class="home-heading"><img src="../resourses/football.png">
                            Football Standings Live
                        </h3>
                        <button type="button" class="btn navbar-button"
                                ng-class="footballCollapsed == true ? 'btn-success' : 'btn-primary'"
                                ng-init="footballCollapsed = true"
                                ng-click="footballCollapsed = !footballCollapsed">
                            <span ng-show="footballCollapsed">Open Info</span>
                            <span ng-show="!footballCollapsed">Close Info</span>
                        </button>
                        <a class="btn btn-info open-link" ng-click="footballOpen()">Open in Tizen Store</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" ng-class="!footballCollapsed && 'in'">
                        <div class="app-images info-block">
                            <img src="../resourses/football1.png">
                            <img src="../resourses/football2.png">
                            <img src="../resourses/football3.png">
                            <img src="../resourses/football4.png">
                        </div>
                        <div class="app-info info-block">
                            Be in touch with world of football. Choose your league and team and get all latest results
                            for it online.
                            <br>
                            Leagues:
                            <br>
                            -England
                            <br>
                            -Germany
                            <br>
                            -Spain
                            <br>
                            -Italy
                            <br>
                            -France
                            <br>
                            -Brazil
                            <br>
                            -Netherlands and others...
                        </div>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="list-group-item list-group-item-home">
                <nav class="navbar" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <h3 class="home-heading"><img src="../resourses/calc.png">
                            Math Calculator
                        </h3>
                        <button type="button" class="btn navbar-button"
                                ng-class="calcCollapsed == true ? 'btn-success' : 'btn-primary'"
                                ng-init="calcCollapsed = true"
                                ng-click="calcCollapsed = !calcCollapsed">
                            <span ng-show="calcCollapsed">Open Info</span>
                            <span ng-show="!calcCollapsed">Close Info</span>
                        </button>
                        <a class="btn btn-info open-link" ng-click="calcOpen()">Open in Tizen Store</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" ng-class="!calcCollapsed && 'in'">
                        <div class="app-images info-block">
                            <img src="../resourses/calc1.png">
                            <img src="../resourses/calc2.png">
                            <img src="../resourses/calc3.png">
                            <img src="../resourses/calc4.png">
                        </div>
                        <div class="app-info info-block">
                            New and modern calculator for math calculations with lots of functions
                            enjoy it.
                        </div>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</div>